/* :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
  } */

.parent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* background: rgb(39, 190, 250); */
  min-width: 1900px;
} 

textarea {
  width: 500px;
}

.example-spacer {
  flex: 1 1 auto;
  /* width: max-content; */
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  display: flex;
  flex-direction: column;
  width: 300px;
}