.content {
    padding: 16px;
}

.parent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* background: rgb(39, 190, 250); */
    min-width: 1900px;
  } 
  
/* .content > mat-card {
    margin-bottom: 16px;
} */

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}
.estiloCard{
    width: 100%;
}

.estiloField{
    width: 80%;
}

.estiloBoton{
    width: 80%;
}