<h3>saldo actual: {{ Saldo }}</h3>
<h3>Cargar saldo</h3>
<form [formGroup]="Tarjeta.info">
    <label>
        Nombre:
        <input type="text" formControlName="Nombre" />
    </label>
    <label>
        Apellido:
        <input type="text" formControlName="Apellido" />
    </label>
    <label>
        Numero:
        <input type="text" formControlName="Numero" />
    </label>
    <label>
        Pin:
        <input type="text" formControlName="Pin" />
    </label>
    <label>
        Mes:
        <input type="number" formControlName="Mes" />
    </label>
    <label>
        Año:
        <input type="number" formControlName="Anio" />
    </label>
    <label>
        Monto:
        <input type="number" formControlName="Monto" />
    </label>
    <div class="example-button-row">
        <button (click)="Mandar(Tarjeta)" >Mandar</button>
    </div>
</form>